<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>290281433627-ll9cht8q1gqn9pmikqutobjmj76nqs2k.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.290281433627-ll9cht8q1gqn9pmikqutobjmj76nqs2k</string>
	<key>API_KEY</key>
	<string>AIzaSyBi1R-7qDTP-VplJzwbGQWB02NW5watTes</string>
	<key>GCM_SENDER_ID</key>
	<string>290281433627</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>SmartFBA.Smart-FBA-Client-Portal</string>
	<key>PROJECT_ID</key>
	<string>smartfba-notification</string>
	<key>STORAGE_BUCKET</key>
	<string>smartfba-notification.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:290281433627:ios:7bc55f3d7fbe76831866be</string>
</dict>
</plist>